<div class="row">
  <div class="container-fluid">
    <%= image_tag("heart_community.jpg", :alt => "heart_community") %>
    <!-- <img src="/assets/images/heart_community.jpg"/> -->
    <div class="jumbotron" style="margin-top: 35px;">
      <!-- <h1 class="text-center"><strong>Domestic Violence</strong></h1> -->
      <p class="lead "><em>
         1 in 3 women experience violence in their lifetime, but together we can survive, heal and thrive. You are not alone. There is a community to support you. Immigrant women experience additional barriers and also have unique assets and strengths. This site provides resources to empower limited english proficient survivors.
      </em></p>
    </div>
    <div>

    </div>
  </div>
</div>

  <br/>

<div class="row">

  <div class="col-sm-4">
    <div id="react"></div>
  </div>

  <div class="col-sm-7 col-sm-offset-1">
    <div id="map"></div>
  </div>



</div>
