body {
  font-size: 15px;
  background-color: #FFF;
  position: relative;
  font-weight: 300;
  color: #FFB930;
}

a {
  color: #FF9530;
}

a:active, a:hover, a:focus {
  color: #725CED;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
    color: #FF9530;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: #FF9510;
}

h1, h2 {
  font-family: 'Raleway', sans-serif;
}

h3, h4, h5, .h3, .h4, .h5 {
  font-family: 'Raleway', sans-serif;
  font-style: italic;
}

.intro-subtext {
  font-family: 'Raleway', sans-serif;
  font-style: italic;
}


.navbar-inverse {
  background-color: #1B2C3D;

}

.info-marquee-wrapper {
  min-height: 225px;
}

#map {
  height: 400px;
}

#reason {
  height: 115px;
}

.panel.panel-default {
  margin-bottom: 2px;
}

ul {
  color: #333;
}

.print-tip {
    padding: 15px;
    margin-left: -15px;
}

#engage-box {
    top: 17%;
    position: absolute;
    width: 85%;
}
