<h3>This project is in progress</h3>

<p>This project was started at an ABA Hackathon - Tech for Justice Event</p>

<p>We meet every last Monday of the month at the Chicago Bar Association



<h3>Contributions are welcome.</h3>

<p>If you want to get active with this particular project, the github issues page is great for adding suggestions, or just learning more about the state of the project</p>


<p>For the technically-inclined:<strong> Pull requests are welcome.</strong></p>
